.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
}

.navbar h2{
    font: 400 24px arial;
    color: #fff;
}

.navbar a[type="green"]{
    color: #fff;
    background-color: #46cb46;
    border: 1px solid #46cb46;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
}

.bg-color{
    background-color: rgb(32, 29, 29);
    padding: 20px;
}

.bg-color1{
    background-color: rgb(13, 13, 182);
    padding: 15px;
}


.navbar p{
    color: #fff;
    font: 500 16px arial;
    padding-right: 15px;
}

.navbar p i{
    color: #3247ff;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font: 500 16px arial;
    padding-right: 15px;

}

.navbar li a{
    text-decoration: none;
    color: #000;
    font: 500 17px arial;
    margin: 15px 0;
}

.navbar h3{
    font: 500 24px arial;
    margin: 0 20px;
}

.navbar a[type="button"]{
    font: 400 17px arial;
    text-decoration: none;
    color: #000;
}


button{
    border: 1px solid #ff7119;
    padding: 20px 25px;
    color: #fff;
    font: 600 17px arial;
    background-color: #ff7119;
}

.bg-image{
    background: linear-gradient(#0c0c0cac,#1212129d), url("../img/ftft.jpg")center/cover;
    height: 80vh;
    
}

.text{
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
    flex-direction: column;
    height: 35vh;
}

h1{
    font: 600 50px arial;
    color: #fff;
    margin-bottom: 15px;
}

.text h6{
    font: 500 17px arial;
    color: #fff;
}

.conteiner{
    width: 1110px;
    margin: 0 auto;
}
form{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
}

select{
    width: 300px;
    background-color: #ececec;
    border-color: transparent;
    padding: 7px;
}

form input{
    background-color: #ececec;
    border-color: transparent;
    padding: 7px;
}

form a{
    font: 600 16px arial;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background-color: #3247ff;
    padding: 10px;
}
/* SECTION-3 AYNUR */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #fff;
        }

        .hotdeal-section {
            padding: 80px 0;
            text-align: center;
        }

        .hotdeal-section small {
            color: #999;
            letter-spacing: 2px;
            font-size: 12px;
        }

        .hotdeal-section h2 {
            font-size: 40px;
            margin: 10px 0 50px;
            font-weight: 700;
        }

        .hotdeal-box {
            width: 1100px;
            margin: auto;
            display: flex;
            background: #1f1f1f;
        }

        /* LEFT IMAGE */
        .hotdeal-image {
            width: 50%;
            position: relative;
        }

        .hotdeal-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .photos-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: #fff;
            color: #0047ff;
            font-size: 12px;
            padding: 6px 12px;
            border-radius: 4px;
        }

        /* RIGHT CONTENT */
        .hotdeal-content {
            width: 50%;
            color: #fff;
            padding: 60px 50px;
            text-align: center;
        }

        .hotdeal-content small {
            color: #aaa;
            font-size: 13px;
        }

        .hotdeal-content h3 {
            font-size: 26px;
            margin: 15px 0;
            line-height: 1.4;
        }

        .location {
            color: #aaa;
            font-size: 13px;
            margin-bottom: 25px;
        }

        .price {
            background: #ff6a00;
            display: inline-block;
            padding: 12px 28px;
            border-radius: 6px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .play-btn {
            width: 60px;
            height: 60px;
            border: 2px solid #777;
            border-radius: 50%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-bottom: 35px;
        }

        .features {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #333;
            padding-top: 25px;
        }

        .feature {
            flex: 1;
            text-align: center;
            font-size: 13px;
            color: #ccc;
        }

        .feature i {
            display: block;
            font-size: 18px;
            margin-bottom: 6px;
            color: #fff;
        }

        .feature span {
            display: block;
            font-weight: bold;
            color: #fff;
        }